/* Mặc định chỉ hiển thị form đăng nhập */
.sign-in-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/* Mặc định ẩn form đăng ký */
.sign-up-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/* Khi active, ẩn form đăng nhập */
.container-login.right-panel-active .sign-in-container {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
}

/* Khi active, hiển thị form đăng ký */
.container-login.right-panel-active .sign-up-container {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 5;
}

/* Kiểm tra background overlay */
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 10;
}

.container-login.right-panel-active .overlay-container {
    transform: translateX(-100%);
}
